.idea/libraries/Gradle__androidx_tracing_tracing_1_0_0_aar.xml
.idea/libraries/Gradle__com_github_bumptech_glide_annotations_4_14_2.xml
.idea/libraries/Gradle__com_github_bumptech_glide_disklrucache_4_14_2.xml
.idea/libraries/Gradle__com_github_bumptech_glide_gifdecoder_4_14_2_aar.xml
.idea/libraries/Gradle__com_github_bumptech_glide_glide_4_14_2_aar.xml
